.content {
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
  
    .box {
      border: 0.1rem solid #0b5ed7;
  
  
      .boxInformation {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 0.5rem;
        text-align: initial;
        
        .nameCharacter {
          font-weight: bold;
          font-size: 1.3rem;    
        }
  
        .localization {
          display: flex;
  
          .titleLocalization {
              padding-right: 0.5rem;
          }
        }
      }
    }
    .statusAlive {
      position: absolute;
      display: inline-block;
      padding: 0.3rem 1rem;
      font-size: 100%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25rem;
      z-index: 1;
      top: 0.8rem;
      right: 2rem;
      color: #fff;
      background-color: #28a745;
    }
  
    .statusDead {
      position: absolute;
      display: inline-block;
      padding: 0.3rem 1rem;
      font-size: 100%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25rem;
      z-index: 1;
      top: 0.8rem;
      right: 2rem;
      color: #fff;
      background-color: #dc3545;
    }
  
    .statusUnknown {
      position: absolute;
      display: inline-block;
      padding: 0.3rem 1rem;
      font-size: 100%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25rem;
      z-index: 1;
      top: 0.8rem;
      right: 2rem;
      color: #fff;
      background-color: #6c757d;
    }
  }